@model IEnumerable<Malakorp.MalakoMine.Client.Models.Task>
           
@using Microsoft.TeamFoundation.WorkItemTracking.Client;
@{
    ViewBag.Title = "MalakoMine";
}

<style type="text/css">
    #details
    {
        float: left;
        margin-right: 5%;
    }
    
    #comment
    {
        float: left !important;
    }
    
    #ok
    {
        float: right;
        clear: both;
    }
    
    span
    {
        font-size: 20px;
        font-weight: bold;
        cursor: default;
    }
    
    #tarefas,
    #dv_TFS
    {
        overflow: auto;
        width: 100%;
        height: 100%;
        max-height: 500px;
        border: none;        
    }
    
    #dv_TFS
    {
        display: none;
        border: solid 1px black; 
    }
    
    iframe
    {
        width: 100%;
        height: 83%    
    }
    
    li
    {
        list-style: none;
    }
    
    .editor-label #Title
    {
        width: 360px;        
    }
    
    input
    {
        font-size: small;    
    }
    /*
    fieldset
    {
        display : none    
    }*/
</style>
<script src="../../Scripts/jquery-1.6.4-vsdoc.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="../../Scripts/jQuery.tmpl.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="../../Scripts/MicrosoftAjax.debug.js" type="text/javascript"></script>
<script src="../../Scripts/MicrosoftMvcAjax.debug.js" type="text/javascript"></script>
<script src="../../Scripts/MicrosoftMvcValidation.debug.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        (function () {
            var spans = $('li > span');
            spans.siblings('form').slideToggle('fast');

            spans.click(function () {
                var me = $(this);
                me.siblings('form').slideToggle();

                me.text(me.text() == '+' ? '-' : '+');
            });

            $('li a').click(function () {
                $('#tfsPanel').css('display', 'block');
                $('#tarefas').css('display', 'none');
            });
        })();

        $.template('reasonsTemplate', '<option value="${val}">${val}</option>');

        $('[name="State"]').change(function () {
            var me = $(this);
            var val = me.val();
            var details = me.parents('#details')
            var bugReason = details.children('#bugReason');

            if (val == 'Closed') {
                bugReason.show();
            } else {
                bugReason.hide();
            }

            var states = $.parseJSON(details.data('states'))[val];
            var taskReason = details.find('#taskReason');

            if (states == undefined) {
                taskReason.hide();
            } else {
                taskReason.show()
                          .find('#Reason')
                          .children()
                          .replaceWith(
                              $.tmpl('reasonsTemplate', states)
                          );
            }
        }).change();

        $('form').submit(function () {
            var remaining = $(this).children('#RemainingWork')
            alert(remaining);
            if (remaining) {
                var completed = $(this).children('#Hours');
                alert('in');

                if (remaining.val() === completed.val()) {
                    alert('in2');
                    return true;
                } else {
                    alert('out2');
                    if (confirm("Horas da Tarefa não são iguais as horas restantes. Deseja completear a diferença?")) {
                        completed = remaining;
                        alert('in3');
                        return true;
                    } else {
                        alert('out3');
                        return false;
                    }
                }
            } else {
                alert('out');
                return true;
            }
        });
    });

    function hideFrame() {
        $('#tfsPanel').css('display', 'none');
        $('#tarefas').css('display', 'block');
        return false;
    }    
</script>

<div id="tarefas">
    <ul>
        @foreach (var item in Model)
        {
            <li><span style="margin-right: 6px; font-family: Consolas">+</span><a href="http://itgvs17:8080/tfs/web/UI/Pages/WorkItems/WorkItemEdit.aspx?id=@item.ID" target="ifr_TFS">@item.WorkItemType - @item.Title</a>
                @Html.Partial(item.WorkItemType == "Task" ? "Task" : "Bug", item)
            </li>
        }
    </ul>
</div>

<div id="tfsPanel">
    <iframe id="ifr_TFS" name="ifr_TFS" frameborder="0">
    </iframe>
    <a onclick="javascript:hideFrame();">Hide</a>
</div>
